
    <div class="dv">
        <div class="dv-header">
            <div class="dv-header-title">
                {{title}}
            </div>
            <div class="dv-header-columns">
                <span class="dv-header-pre">Search: </span>
                <select class="dv-header-select" v-model="query.search_column">
                    <option v-for="column in columns" :value="column">{{column}}</option>
                </select>
            </div>
            <div class="dv-header-operators">
                <select class="dv-header-select" v-model="query.search_operator">
                    <option v-for="(value, key) in operators" :value="key">{{value}}</option>
                </select>
            </div>
            <div class="dv-header-search">
                <input type="text" class="dv-header-input"
                       placeholder="Search"
                       v-model="query.search_input"
                       @keyup.enter="fetchIndexData()">
            </div>
            <div class="dv-header-submit">
                <button class="dv-header-btn"@click="fetchIndexData()">Filter</button>
            </div>
        </div>



        <div class="dv-body">
            <table class="dv-table">
                <thead>
                <tr>
                    <th v-for="column in columns" @click="toggleOrder(column)">
                        <span>{{column}}</span>
                        <span class="dv-table-column" v-if="column === query.column">
                <span v-if="query.direction === 'desc'">&darr;</span>
                <span v-else>&uarr;</span>
              </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in model.data">
                    <td v-for="(value, key) in row">{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="dv-footer">
            <div class="dv-footer-item">
                <span>Displaying {{model.from}} - {{model.to}} of {{model.total}} rows</span>
            </div>
            <div class="dv-footer-item">
                <div class="dv-footer-sub">
                    <span>Rows per page</span>
                    <input type="text" v-model="query.per_page"
                           class="dv-footer-input"
                           @keyup.enter="fetchIndexData()">
                </div>
                <div class="dv-footer-sub">
                    <button class="dv-footer-btn" @click="prev()">&laquo;</button>
                    <input type="text" v-model="query.page"
                           class="dv-footer-input"
                           @keyup.enter="fetchIndexData()">
                    <button class="dv-footer-btn" @click="next()">&raquo;</button>
                </div>
            </div>
        </div>
    </div>
