.zone-topview {

  background: #f9f9f9;
  border-bottom: 1px solid #eaeaea;

  .label {
    border-radius: 0 !important;
    margin-top: 0;
    display: block;
    text-transform: uppercase;
    border-top: 2px solid #3bb5b5;
    font-family: RobotoSlab-Bold;
    font-size: 14px;
    text-align: center;
    padding: 8px 0 10px;
  }


  article{
    text-align: justify;
    padding: 5px;
    img{
      width: 100%;
    }
  }
}


.box-tm {
  background: #f9f9f9;
  margin-bottom: 18px;

  .thumb {
    width: 58px;
    float: left;
    margin: 3px 10px 0 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.thumb {
  display: block;
  overflow: hidden;
  position: relative;
}

.tags {
  background: #eee;
  padding: 8px 15px 3px;
  clear: both;

  li {
    font-family: Roboto-Bold;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px 5px 0;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

#abde{
  ul {
    list-style-type: none;
    list-style: none;
  }
}