#tin-noi-bat-left {

  background: #f9f9f9;
  border-bottom: 1px solid #eaeaea;
  z-index: 999;

  .label {
    border-radius: 0 !important;
    margin-top: 0;
    display: block;
    text-transform: uppercase;
    border-top: 2px solid #3bb5b5;

    font-size: 14px;
    text-align: center;
    padding-top: 12px;
    color: black;
  }


  article{
    text-align: justify;
    padding: 5px;
    img{
      width: 100%;
      border: 1px solid #cbccce !important;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a{
      text-decoration: none !important;
    }
  }
}

.fixed{
  position: fixed !important;
}

.absolute{
  position: absolute !important;
}


.chi-tiet-tin{

  padding-left: 10px;

  .main-title {
    font-size: 2.4em;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  .meta {
    margin-bottom: 15px;

    time {
      color: #888;
      display: block;
    }

    .meta-author {
      display: none;
    }
  }

  .gioi-thieu{

    text-align: justify;
  }

  .noi-dung{
    padding-top: 10px;
    text-align: justify;
  }
  img{
    width: 90%;
    margin: 0 auto;
    display: block;
  }


}






.box-tm {
  background: #f9f9f9;
  margin-bottom: 18px;

  .thumb {
    width: 58px;
    float: left;
    margin: 3px 10px 0 0;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.thumb {
  display: block;
  overflow: hidden;
  position: relative;
}

.tags {
  background: #eee;
  padding: 8px 15px 3px;
  clear: both;

  li {
    font-family: Roboto-Bold;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px 5px 0;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

#abde{
  ul {
    list-style-type: none;
    list-style: none;
  }
}