body {
	background: #FFFFFF url(../../images/body_bg.gif) repeat left top;

  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEABAMAAACuXLVVAAAAHlBMV…9gfGm1lK7WMlooehWaZjO+dtNsb9lvPu124U67Mb5m/4L/B4gmAYtHuY9eAAAAAElFTkSuQmCC);
	color: #333333;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0.5px;

  box-shadow: inset 0 0 250px #D89F44;

  .nen-trang{
    background: #FFFFFF !important;
    border: 2px;
    //border-radius: 5px;
    //padding-top: 15px;
  }

  .margin-top-15{
    margin-top: 15px;
  }
  .bold{
    font-weight: bold;
  }
}



.block3 {
  border: 1px solid #bebebe;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 7px;
  margin-right: -15px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .portlet-header {

    float: left;
    width: 100%;
    padding: 3px 5px 1px 35px;
    background-color: #D89F44;
    background-image: url('/images/background/lotus.ico'), url('/images/background/trong-dong.png');
    background-size: 32px 32px, auto;
    background-position: 2px 2px,right top;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    a{
      text-decoration: none;
      h4 {

        color: #ffffff !important;
        font-family: arial;
        line-height: 30px;
        margin: 0;
        padding-left: 5px;
        text-align: left;
        text-transform: uppercase !important;
        vertical-align: middle;
        font-weight: bold;
        font-size: 14px;


      }
    }



  }

  .w3-animate-left {
    position: relative;
    animation: animateleft 0.6s
  }
  @keyframes animateleft {
    from {
      left: -300px;
      opacity: 0
    }
    to {
      left: 0;
      opacity: 1
    }
  }

  .w3-animate-top {
    position: relative;
    animation: animatetop 0.4s
  }
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }


  #tinNoiBatChinh{





    .hot-news{
      .hot-news-title{
        text-align: center;
        text-transform: uppercase;

        a{

          text-decoration: none;

          h4{
            padding-top: 10px;
            line-height: 25px;

          }

        }






      }
      .hot-news-thumb-nail {
        img {

          display: block;
          margin: 0 auto;

          vertical-align: top;
          border: 1px solid #cbccce!important;
          border-radius: 3px;

          object-position: top;
          height: 350px;
          max-width: 100%;
          object-fit: cover;

          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        }
      }

    }
  }

  #tin-noi-bat{



    ul{
      list-style-type: none;
      padding-left: 0px;
      overflow:hidden;
      overflow-y:scroll;
      max-height: 550px;

      li {

        a{
          text-decoration: none;
        }





        .hot-news-block{

          border-bottom: 1px solid #e1e8ee;
          padding: 5px;
          text-align: justify;
        }

        &:hover{

          font-weight: bold;
          a{
            color: #ce663f !important;
          }


        }
      }
      li.active {
        background: #D89F44;
        opacity: 0.8;

        .news-title {
          color: #ffffff !important;

        }

      }



    }

  }




  .news-main {

    padding: 0 7px 0 15px;
    

    img{
      float:left;
      margin-right:10px;
      width: 160px;
      border: 1px solid #cbccce!important;
      border-radius: 3px;

      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .tin_title_text {

      font-weight: bold;
      text-decoration: none;
      margin-bottom: 10px;


    }
    .tin_title_abstract{
      margin-bottom: 15px;

    }



    text-align: justify;

    vertical-align: middle;
    width: auto;

  }

  .news-five{

    padding: 0 15px 0 7px;

     }


  .news-vanban{

    padding: 0 15px 0 15px;
  }

  ul.news-block{
    list-style-type: none;
    padding-left: 0px;

    li{

      a{
        text-decoration: none;
      }
      
      
      text-align: justify;
      font-size: 0.95em;

        

      

      &:not(:first-child){
          margin-top: 10px;
        }


      &:not(:last-child){

        padding-bottom: 3px;
        

        border-bottom: 1px solid #e1e8ee;

      }

      &:hover{
        font-weight: bold;
        a{
          color: #ce663f !important;
        }
      }

    }
  }
  

  

  .chuyen-trang{

    

    ul{
      list-style-type: none;
      padding-left: 0px;

      li {
        margin-bottom: 10px;

        a{
          text-decoration: none;
        }

        .news-block{
          padding-bottom: 5px;
          border-bottom: 1px solid #e1e8ee;
          text-align: justify;
          font-size: 0.95em;
        }

        &:hover{

          font-weight: bold;
          color: #CE663F;


        }

      }
    }
  }




}

#back-top {
  display: inline-block;

  height: 50px;
  width: 50px;

  position: fixed;
  bottom:35px;
  right: 2%;
  z-index: 100;
  opacity: 0.5;
}

















