body {
	background: #FFFFFF url(../../images/body_bg.gif) repeat left top;
	color: #333333;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	letter-spacing: 0.5px;

  .nen-trang{
    background: #FFFFFF !important;
    border: 2px;
    //border-radius: 5px;
    //padding-top: 15px;
  }

  .margin-top-15{
    margin-top: 15px;
  }
  .bold{
    font-weight: bold;
  }
}







.block3 {
  border: 1px solid #bebebe;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 15px;
  overflow: hidden;

  .portlet-header {

    float: left;
    width: 100%;
    padding: 3px 5px 1px 35px;
    background-color: #D89F44;
    background-image: url('/images/background/lotus.ico'), url('/images/background/trong-dong.png');
    background-size: 32px 32px, auto;
    background-position: 2px 4px,right top;
    background-repeat: no-repeat;
    a{
      text-decoration: none;
      h4 {

        color: #ffffff !important;
        font-family: arial;
        line-height: 30px;
        margin: 0;
        padding-left: 5px;
        text-align: left;
        text-transform: uppercase !important;
        vertical-align: middle;
        font-weight: bold;
        font-size: 14px;


      }
    }



  }

  #tinNoiBatChinh{
    padding-top: 25px;

    .hot-news{
      .hot-news-title{
        text-align: center;
        text-transform: uppercase;

        h4{
          padding-top: 10px;
          line-height: 25px;
        }




      }
      .hot-news-thumb-nail {
        img {

          display: block;
          margin: 0 auto;

          vertical-align: top;
          border: 1px solid #cbccce!important;

          object-position: top;
          height: 350px;
          max-width: 100%;
          object-fit: cover;
        }
      }

    }
  }

  #tin-noi-bat{



    ul{
      list-style-type: none;
      padding-left: 0px;

      li {

        a{
          text-decoration: none;
        }





        .hot-news-block{

          border-bottom: 1px solid #e1e8ee;
          padding: 5px;
          text-align: justify;
        }
      }
      li.active {
        background: #D89F44;
        opacity: 0.8;

        .news-title {
          color: #ffffff !important;

        }

      }


    }

  }

  .main-news {
    float: left;
    padding: 20px 10px 10px 15px;
    width: 100%;
    display: block;
    // border-bottom: 1px solid #e1e8ee;
    overflow: hidden;
    padding-bottom: 10px;
    .main-news-title {
      font-size: 1.05em;
      color: #000000 !important;
      line-height: 18px;
      margin-bottom: 15px;
      &:hover{
        text-decoration: none;
      }
    }
    .main-news-thumb-nail {
      margin-top: 10px;
      float: left;
      width: 35%;
      img {
        width: 100%;
        max-width: 100%;
        padding-right: 10px;
      }
    }
    .main-news-content{
      margin-top: 8px;
    }
  }

  .news{
    padding: 10px 15px 10px 10px;

    ul{
      list-style-type: none;
      padding-left: 0px;

      li {

        a{
          text-decoration: none;
        }

        .news-block{
          border-bottom: 1px solid #e1e8ee;
          padding: 5px;
          text-align: justify;
          font-size: 0.95em;
        }

        &:hover{
          background: #D89F44;
          opacity: 0.8;
          a{
            color: #ffffff !important;
          }


        }

      }
    }
  }




}















