#jssor_1{
	position:relative;
	margin:0 auto;
	top:0px;
	left:0px;
	width:980px;
	height:165px;
	overflow:hidden;
	visibility:hidden;
	opacity: 0.6;
}

header {
	height: 200px;

	#header-brand {

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		height: 200px;
		z-index: 2;
		#background-brand {
			//margin-top: 5px;
			border: solid 1px #0093ef;
			border-bottom: none;
			background: url(../../images/background/header_bg.png) left top no-repeat;
			height: 200px;
			position: relative;
			top: 0;
		}

		.brand-logo{

			display: inline-block;
			position: relative;
			top: 30px;

		}

		.brand-text {
			display: inline-block;
			position: relative;
			top: 40px;
			h1{
				color: #00588f;
				font-family: arial;
				font-size: 28px;
				font-weight: bold;
				line-height: 35px;
				margin: 0 0 5px;
				text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
				text-transform: uppercase;
			}
			h2{
				color: #e81d02;
				font-size: 42px;
				font-family: "Times New Roman";
				font-weight: bold;
				margin: 0;
				text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
				text-transform: uppercase;
			}
		}

		.language-wrapper {
			position: absolute;
			top: 5px;
			right: 10px;
			.language-list {
				width: 100%;
				padding: 5px;
			}
		}
	}
}


nav{
	overflow: hidden;
	border-top: #b2001f;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-bottom: solid 1px #316a98;
	border-top: solid 1px #316a98;
	-moz-box-shadow: inset 0 0 0 1px rgba(34,179,247,0.9);
	-webkit-box-shadow: inset 0 0 0 1px rgba(34,179,247,0.9);
	box-shadow: inset 0 0 0 1px rgba(34,179,247,0.9);
	background: #0093ef;
	background: -moz-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0093ef),color-stop(50%,#0089e0),color-stop(51%,#007ac7),color-stop(100%,#0471b5));
	background: -webkit-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);
	background: -o-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);
	background: -ms-linear-gradient(top,#0093ef 0,#0089e0 50%,#007ac7 51%,#0471b5 100%);

	background: linear-gradient(to bottom,#0470b4 0,#095b8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0093ef',endColorstr='#0471b5',GradientType=0);
}


.navbar-default, .navbar-collapse {

	border-color: #0093ef !important;

}

.navbar-header{

	background: url(../../images/banner_header.png) left top no-repeat cover;

}




.nav li {
	border-right: 1px solid #fff;
	float: left;
	//width: 195px;
}



.navbar-nav{

	li{
		a{
			text-transform: uppercase;
			font-weight: 600;
			color: white !important;
		}
	}

}

.nav li.current, .nav li a:hover {
	background: #0593d9;
	background: -moz-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#0593d9),color-stop(100%,#0c78b2));
	background: -webkit-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: -o-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: -ms-linear-gradient(top,#0593d9 1%,#0c78b2 100%);
	background: linear-gradient(to bottom,#0593d9 1%,#0c78b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0593d9',endColorstr='#0c78b2',GradientType=0);
}




.navbar-right{
	margin-right: 0 !important;
}


.navbar-collapse {

	padding-right: 0px;
	padding-left: 0px;
}

