#cssmenu{

	position: relative;
	z-index: 99;
	background: linear-gradient(to bottom,#0470b4 0,#095b8c 100%);


	ul{
		padding-left: 0;
		margin-bottom: 0;
		border-color: #0093ef !important;
		li{
			a{
				text-transform: uppercase;
			}
		}
	}
}

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after,#cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #head-mobile {
	display: none;
}


#cssmenu > ul > li {
	float: left;
}

#cssmenu > ul > li > a {
	padding: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #ddd;
	font-weight: 700;
}

#cssmenu > ul > li:hover > a,#cssmenu ul li.active a {
	color: #fff;
}

#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover {
	background: #448D00!important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}

#cssmenu > ul > li.has-sub > a {
	padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: '';
}

#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: linear-gradient(to bottom, #0488d7 0, #0976b4 100%);
	transition: all .25s ease;
}

#cssmenu ul ul li:hover {
}

#cssmenu li:hover > ul {
	left: auto;
}

#cssmenu li:hover > ul > li {
	height: 44px;
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150,150,150,0.15);
	padding: 15px;
	width: 250px;
	font-size: 12px;
	text-decoration: none;
	color: #ddd;
	font-weight: 500;
}

#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a {
	border-bottom: 0;
}

#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover {
	color: #fff;
	background-color: #00A000;
}

#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: '';
}

#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0;
}

#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #363636;
}

#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333;
}

#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top: 1px solid #333;
}


@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
	.menu-mb{
		ul{
			list-style: none;
			padding-left: 0;
			li{
				line-height: 40px;
				padding-left: 15px;
				a{
					text-transform: uppercase;
					color: #ffffff;
					text-decoration: none;
					font-weight: 500;
				}

				&:hover{
					background-color: #00AA00;
				}
				ul{


					li{
						margin-left: -15px;
						background-color: #0976b4;
						padding-left: 30px;

						&:hover{
							background-color: #00AA00;
						}
					}
				}
			}
		}
	}
}