@media (max-width: 767px) {

  .margin-15px{

    margin-left: -15px;
    margin-right: -15px;

  }

  .block3{
    margin-top: 7px;
    margin-left: -15px;
    margin-right: -15px;
  }

  #tinNoiBatChinh{
    margin-top: 25px;
  }

  .nav {

    li {
      float:none;
      padding-left: 10px;
    }

  }
}
