@media (max-width: 767px) {

  .nen-trang{

    margin-left: -15px;
    margin-right: -15px;

  }

  .block3{
    margin-top: 7px;
    margin-left: -15px;
    margin-right: -15px;
  }

  #tinNoiBatChinh{
    margin-top: 25px;
  }
}
