/** =======================
 * Contenedor Principal
 ===========================*/

#menu-right {

  margin: 0;
  padding: 0;
  margin-top: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  ul {
    list-style-type: none;
  }

  a {
    color: #b63b4d;
    text-decoration: none;
  }


  .accordion {
    width: 100%;
    max-width: 360px;
    //margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 0 !important;
  }

  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 10px 10px 10px 30px;
    color: #095b8c;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .accordion li:last-child .link {
    border-bottom: 0;
  }

  .accordion li i {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 18px;
    color: #095b8c;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }

  .accordion li.open .link {
    color: #b63b4d;
  }

  .accordion li.open i {
    color: #b63b4d;
  }
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .accordion li.default .submenu {
    display: block;
  }
  /**
   * Submenu
   -----------------------------*/
  ul.submenu{
    padding-left: 10px;
  }

  .submenu {
    display: none;
    //background: #444359;
    //background: linear-gradient(to bottom, rgb(249, 246, 246) 0, rgba(9, 121, 196, 0.98) 100%);
    background: #FFF;
    font-size: 14px;
  }

  .submenu li {
    border-bottom: 1px solid #4b4a5e;
  }

  .submenu a {
    display: block;
    text-decoration: none;
    color: #b63b4d;
    padding: 12px 0px;
    //padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .submenu a:hover {
    background: #006eaf;
    color: #FFF;
  }
}

