<div class="MediaManager__Wrapper">
  <div class="Uploader__Wrapper" v-if="showUploader">
    <p>Tải hình ảnh<span class="pull-right"><i class="fa fa-times" v-on:click="showUploader = false"></i></span></p>
    <dropzone id="myVueDropzone"
              class="margin-bottom-10"
              :headers="csrfHeaders"
              :url="mediaUpload"
              :use-font-awesome="true"
              accepted-file-types="image/*"
              v-on:vdropzone-success="showSuccess"
              v-on:vdropzone-error="onError">
    </dropzone>
  </div>

  <div class="Meta_row margin-bottom-10">
    <button class="btn btn-primary" v-on:click="showUploader = true" v-if="!showUploader">Thêm ảnh</button>
  </div>

  <div class="galleryWrapper clearfix">
    <ul>
      <li v-for="image in images" class="image-attachment">
        <!-- <pre>{{image.meta_data}}</pre> -->
        <div class="thumbnail">
          <img v-bind:src="image.directory + '/' + image.filename + '.' + image.extension"
               v-on:click="handleImageDetails(image)"
               v-bind:alt="image.directory"
               v-bind:title="(image.meta_data !== null) ? image.meta_data.alt : ''">
        </div>

        <p>{{ (image.meta_data !== null) ? image.meta_data.alt : '' }}</p>

      </li>
    </ul>
  </div>

  <!--<bulma-modal modal-class="media-manager-details">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-8">-->
        <!--<div class="big-image">-->
          <!--<img v-bind:src="currentImage.directory + '/' + currentImage.filename + '.' + currentImage.extension"-->
               <!--alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-4">-->
        <!--<div class="Media__MetaData-Wrapper">-->
          <!--<div class="form-group">-->
            <!--<label for="caption">Caption</label>-->
            <!--<input type="text" name="caption" id="caption" class="form-control" placeholder="Enter the image caption"-->
              <!--v-model="currentImage.meta_data.caption">-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="alt">Alt</label>-->
            <!--<input type="text" name="alt" id="alt" class="form-control" placeholder="Enter the image alt tag"-->
              <!--v-model="currentImage.meta_data.alt">-->
          <!--</div>-->

          <!--<button class="btn btn-primary" v-on:click="handleImageMetaDataSave">-->
            <!--<i class="fa fa-save"></i> Save-->
          <!--</button>-->
          <!--<button class="btn btn-danger pull-right" v-on:click="deleteMedia">-->
            <!--<i class="fa fa-trash-o"></i> Delete-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</bulma-modal>-->

  <bulma-modal modal-class="file-manager-details">

    <button class="btn btn-danger pull-right" v-on:click="deleteMedia" style="margin: 5px;">
      <i class="fa fa-trash-o"></i> Xóa
    </button>


    <img v-bind:src="currentImage.directory + '/' + currentImage.filename + '.' + currentImage.extension" alt="">


    <!--<object v-bind:data="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" type="application/pdf">-->
      <!--<embed v-bind:src="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" type="application/pdf" />-->
    <!--</object>-->

  </bulma-modal>

</div>
