<div class="MediaManager__Wrapper">



  <div class="Uploader__Wrapper" v-if="showUploader">
    <p>Tải văn bản<span class="pull-right"><i class="fa fa-times" v-on:click="showUploader = false"></i></span></p>
    <dropzone id="myVueDropzone"
              class="margin-bottom-10"
              :headers="csrfHeaders"
              :url="fileUpload"
              :use-font-awesome="true"
              accepted-file-types="application/pdf"
              :thumbnail-height="60"
              :thumbnail-width="80"
              v-on:vdropzone-success="showSuccess"
              v-on:vdropzone-error="onError">
    </dropzone>
  </div>

  <div class="galleryWrapper clearfix">
    <ul>
      <li v-for="file in files" class="image-attachment">
        <img src="/images/pdf-file-512.png" alt="" width="20px"> &nbsp;
        <a draggable="true" ondragstart="drag(event)" v-on:click="handleFileDetails(file)">{{file.filename}}</a>
        <!--<span v-on:click="deleteFile(file)"><i class="fa fa-times" aria-hidden="true"></i></span>-->
      </li>
    </ul>

    <!--<table>-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>Tên tệp</th>-->
        <!--<th>Dung lượng</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr v-for="file in files">-->
        <!--<td><a draggable="true" ondragstart="drag(event)" v-on:click="handleFileDetails(file)">{{file.filename + '.' + file.extension}}</a></td>-->
        <!--<td>{{ file.size }}</td>-->
      <!--</tr>-->
      <!--</tbody>-->

    <!--</table>-->
  </div>
  <hr>

  <div class="Meta_row margin-bottom-10">
    <button class="btn btn-warning" v-on:click="showUploader = true" v-if="!showUploader"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Thêm</button>
  </div>



  <bulma-modal modal-class="file-manager-details">

        <button class="btn btn-danger pull-right" v-on:click="deleteFile" style="margin: 5px;">
          <i class="fa fa-trash-o"></i> Xóa
        </button>


        <object v-bind:data="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" type="application/pdf">
          <embed v-bind:src="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" type="application/pdf" />
        </object>




  </bulma-modal>


</div>
