<div class="MediaManager__Wrapper">
    <div class="Uploader__Wrapper" v-if="showUploader">
        <p>Tải văn bản<span class="pull-right"><i class="fa fa-times" v-on:click="showUploader = false"></i></span></p>
        <dropzone id="myVueDropzone"
                  class="margin-bottom-10"
                  :headers="csrfHeaders"
                  :url="fileUpload"
                  :use-font-awesome="true"
                  accepted-file-types=".pdf,.doc,.docx,.xls,.xlsx"
                  :max-file-size-in-m-b="32"
                  :max-number-of-files="10"
                  :thumbnail-height="60"
                  :thumbnail-width="80"
                  v-on:vdropzone-success="showSuccess"
                  v-on:vdropzone-error="onError">
        </dropzone>
      </div>

    <div class="Meta_row margin-bottom-10">
        <button class="btn btn-warning" v-on:click="showUploader = true" v-if="!showUploader"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Thêm</button>
    </div>

    <div class="galleryWrapper clearfix">
    <ul>
      <li v-for="file in files" class="image-attachment">
          <a draggable="true" ondragstart="drag(event)" v-on:click="handleFileDetails(file)">

              <div v-if="file.aggregate_type === 'pdf'">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;{{file.filename}}
              </div>

              <div v-else-if="file.aggregate_type === 'document'">
                  <i class="fa fa-file-word-o" aria-hidden="true"></i>&nbsp;{{file.filename}}
              </div>

              <div v-else-if="file.aggregate_type === 'spreadsheet'">
                  <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;{{file.filename}}
              </div>
          </a>
      </li>
    </ul>
    </div>

    <bulma-modal modal-class="file-manager-details">

        <div class="header">

            <h5 style="float:left; padding-left: 15px;">
                <a v-bind:href="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" class="btn btn-info">

                    Đường dẫn

                </a>
            </h5>

            <button class="btn btn-danger pull-right" v-on:click="deleteFile" style="margin: 5px;">
                <i class="fa fa-trash-o"></i> Xóa
            </button>

        </div>



        <object v-bind:data="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" v-bind:type="currentFile.mime_type">
            <embed v-bind:src="currentFile.directory + '/' + currentFile.filename + '.' + currentFile.extension" v-bind:type="currentFile.mime_type" />
        </object>

    </bulma-modal>


</div>
